* {
    font-family: 'Raleway', sans-serif;
    color: #151517;
    font-size: 32px;
    font-weight: 560;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #CFAF7F;
    background-image: url('/static/images/pattern.png');
    background-repeat: repeat;
    background-size: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
    gap: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .btn {
    background-color: #FFE3E3;
    border-radius: 16px;
    padding: 10px 24px;
    font-size: 40px;
    font-weight: 540;
    transition: background-color 0.3s ease;
    border: 3px #8C463C solid;
    cursor: pointer;
    text-align: center;

}

.container .btn:hover {
    border: 3px #E56E8E solid;
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 100px;
}

.field3 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    font-size: 28px;
    font-weight: 400;
    width: 400px;
    padding: 6px;
    border-radius: 12px;
}

input {
    font-size: 28px;
    font-weight: 400;
    width: 400px;
    padding: 6px;
    border-radius: 12px;
}

.button_sbm {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
}

.button:hover {
    background-color: #E56E8E;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}